.i-bilibili:before {
  content: "\e607";
}

.i-shenghuog-1:before {
  content: "\e825";
}

.i-huanxx-1:before {
  content: "\e82a";
}

.i-yishijie-1:before {
  content: "\e82b";
}

.i-subway-fill:before {
  content: "\e715";
}

.i-mofa-1:before {
  content: "\e7c3";
}